[Desktop Entry]
Name=Smash64Recompiled
Type=Application
Terminal=false
Icon=Smash64Recompiled
Exec=Smash64Recompiled
GenericName=Smash64Recompiled
Categories=Game;
