---
name: validate
on:
  workflow_call:
    inputs:
      SDL2_VERSION:
        type: string
        required: false
        default: 2.30.3
      N64RECOMP_COMMIT:
        type: string
        required: false
        default: 98bf104b1b5ed83126af8bcab0cc964782617dbf
    secrets:
      SMASH64_REPO_WITH_PAT:
        required: true
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
jobs:
  build-linux:
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        type:
          - Debug
          - Release
        os:
          - ubuntu-22.04
    name: ubuntu-22.04 (x64, ${{ matrix.type }}, Native, AppImage)
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.sha || github.ref }}
          submodules: recursive
      - name: ccache
        uses: hendrikmuhs/ccache-action@v1.2
        with:
          key: ${{ matrix.os }}-smash64re-ccache-${{ matrix.type }}-x64-${{
            inputs.N64RECOMP_COMMIT }}
      - name: Install Linux Dependencies
        run: >
          sudo apt-get update

          sudo apt-get install -y ninja-build libsdl2-dev libgtk-3-dev lld llvm clang-15 libfuse2

          # Install SDL2

          echo ::group::install SDL2

          export PATH="/usr/lib/ccache:/usr/local/opt/ccache/libexec:$PATH"

          wget https://github.com/libsdl-org/SDL/releases/download/release-${{ inputs.SDL2_VERSION }}/SDL2-${{ inputs.SDL2_VERSION }}.tar.gz

          tar -xzf SDL2-${{ inputs.SDL2_VERSION }}.tar.gz

          cd SDL2-${{ inputs.SDL2_VERSION }}

          ./configure

          make -j 10

          sudo make install

          sudo cp -av /usr/local/lib/libSDL* /lib/x86_64-linux-gnu/

          echo ::endgroup::
      - name: Get extra dependencies
        uses: actions/checkout@v4
        with:
          repository: ${{ secrets.SMASH64_REPO_WITH_PAT }}
          token: ${{ secrets.SMASH64_RECOMP }}
          path: smash-secret
      - name: Prepare Build
        run: cp -r smash-secret/smashbrothers.us.z64 ./
      - name: Build N64Recomp & RSPRecomp
        run: >
          git clone https://github.com/Mr-Wiseguy/N64Recomp.git --recurse-submodules
          N64RecompSource

          cd N64RecompSource

          git checkout ${{ inputs.N64RECOMP_COMMIT }}

          git submodule update --init --recursive


          export PATH="/usr/lib/ccache:/usr/local/opt/ccache/libexec:$PATH"


          cmake -DCMAKE_BUILD_TYPE=Release -DCMAKE_CXX_COMPILER_LAUNCHER=ccache -DCMAKE_C_COMPILER_LAUNCHER=ccache -DCMAKE_CXX_COMPILER=g++-11 -DCMAKE_C_COMPILER=gcc-11 -DCMAKE_MAKE_PROGRAM=ninja -G Ninja -S . -B cmake-build

          cmake --build cmake-build --config Release --target N64RecompCLI -j $(nproc)

          cmake --build cmake-build --config Release --target RSPRecomp -j $(nproc)


          cp cmake-build/N64Recomp ..

          cp cmake-build/RSPRecomp ..
      - name: Run N64Recomp & RSPRecomp
        run: |
          ./N64Recomp smashbrothers.us.toml
          ./RSPRecomp n_aspMain.us.toml
      - name: Build Smash64Recompiled
        run: >-
          export PATH="/usr/lib/ccache:/usr/local/opt/ccache/libexec:$PATH"


          cmake -DCMAKE_BUILD_TYPE=${{ matrix.type }} -DCMAKE_CXX_COMPILER_LAUNCHER=ccache -DCMAKE_C_COMPILER_LAUNCHER=ccache -DCMAKE_CXX_COMPILER=clang++-15 -DCMAKE_C_COMPILER=clang-15 -DCMAKE_MAKE_PROGRAM=ninja -G Ninja -S . -B cmake-build

          cmake --build cmake-build --config ${{ matrix.type }} --target Smash64Recompiled -j $(nproc)
      - name: Prepare Archive
        run: >
          mv cmake-build/Smash64Recompiled Smash64Recompiled

          tar -czf Smash64Recompiled.tar.gz Smash64Recompiled assets/ recompcontrollerdb.txt
      - name: Archive Smash64Recompiled
        uses: actions/upload-artifact@v4
        with:
          name: Smash64Recompiled-${{ runner.os }}-X64-${{ matrix.type }}
          path: Smash64Recompiled.tar.gz
      - name: Build AppImage
        run: |-
          chmod +x  ./.github/linux/appimage.sh
          ./.github/linux/appimage.sh
      - name: Smash64Recompiled AppImage
        uses: actions/upload-artifact@v4
        with:
          name: Smash64Recompiled-AppImage-X64-${{ matrix.type }}
          path: Smash64Recompiled-*.AppImage
  build-linux-flatpak:
    runs-on: ubuntu-latest
    env:
      FLATPAK_ID: io.github.smash64recomp.smash64recomp
      FREEDESKTOP_VERSION: 23.08
      LLVM_VERSION: 18
    strategy:
      matrix:
        type:
          - Debug
          - Release
        os:
          - ubuntu-latest
    name: ${{ matrix.os }} (x64, ${{ matrix.type }}, Flatpak)
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.sha || github.ref }}
          submodules: recursive
      - name: ccache
        uses: hendrikmuhs/ccache-action@v1.2
        with:
          key: ${{ matrix.os }}-smash64re-ccache-${{ matrix.type }}-x64-${{
            inputs.N64RECOMP_COMMIT }}
      - name: Install Linux Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y flatpak-builder ccache lld
      - name: Get extra dependencies
        uses: actions/checkout@v4
        with:
          repository: ${{ secrets.SMASH64_REPO_WITH_PAT }}
          token: ${{ secrets.SMASH64_RECOMP }}
          path: smash-secret
      - name: Prepare Build
        run: cp -r smash-secret/smashbrothers.us.z64 ./
      - name: Prepare Flatpak
        run: >
          flatpak --user remote-add --if-not-exists flathub
          https://flathub.org/repo/flathub.flatpakrepo

          flatpak --user install -y flathub org.freedesktop.Sdk//${{ env.FREEDESKTOP_VERSION }}

          flatpak --user install -y flathub org.freedesktop.Sdk.Extension.llvm${{ env.LLVM_VERSION }}//${{ env.FREEDESKTOP_VERSION }}
      - name: Build Smash64Recompiled
        run: >-
          export CCACHE_DIR=/tmp/ccache

          git config --global protocol.file.allow always

          make -C patches CC=clang LD=ld.lld

          flatpak-builder --user --force-clean --install-deps-from=flathub --repo=repo --ccache builddir ./flatpak/${{ env.FLATPAK_ID }}.json

          flatpak build-bundle repo ./${{ env.FLATPAK_ID }}.flatpak ${{ env.FLATPAK_ID }} --runtime-repo=https://flathub.org/repo/flathub.flatpakrepo
      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: Smash64Recompiled-Flatpak-X64-${{ matrix.type }}
          path: ./${{ env.FLATPAK_ID }}.flatpak
  build-linux-arm64:
    runs-on: ubuntu-22.04-arm
    strategy:
      matrix:
        type:
          - Debug
          - Release
        os:
          - ubuntu-22.04
    name: ubuntu-22.04 (arm64, ${{ matrix.type }}, Native, AppImage)
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.sha || github.ref }}
          submodules: recursive
      - name: ccache
        uses: hendrikmuhs/ccache-action@v1.2
        with:
          key: ${{ matrix.os }}-smash64re-ccache-${{ matrix.type }}-arm64-${{
            inputs.N64RECOMP_COMMIT }}
      - name: Install Linux Dependencies
        run: >
          sudo apt-get update

          sudo apt-get install -y ninja-build libsdl2-dev libgtk-3-dev lld llvm clang-15 libfuse2

          echo ::group::install SDL2

          export PATH="/usr/lib/ccache:/usr/local/opt/ccache/libexec:$PATH"

          wget https://github.com/libsdl-org/SDL/releases/download/release-${{ inputs.SDL2_VERSION }}/SDL2-${{ inputs.SDL2_VERSION }}.tar.gz

          tar -xzf SDL2-${{ inputs.SDL2_VERSION }}.tar.gz

          cd SDL2-${{ inputs.SDL2_VERSION }}

          ./configure

          make -j 10

          sudo make install

          sudo cp -av /usr/local/lib/libSDL* /lib/aarch64-linux-gnu/

          echo ::endgroup::
      - name: Get extra dependencies
        uses: actions/checkout@v4
        with:
          repository: ${{ secrets.SMASH64_REPO_WITH_PAT }}
          token: ${{ secrets.SMASH64_RECOMP }}
          path: smash-secret
      - name: Prepare Build
        run: cp -r smash-secret/smashbrothers.us.z64 ./
      - name: Build N64Recomp & RSPRecomp
        run: >
          git clone https://github.com/Mr-Wiseguy/N64Recomp.git --recurse-submodules
          N64RecompSource

          cd N64RecompSource

          git checkout ${{ inputs.N64RECOMP_COMMIT }}

          git submodule update --init --recursive

          export PATH="/usr/lib/ccache:/usr/local/opt/ccache/libexec:$PATH"

          cmake -DCMAKE_BUILD_TYPE=Release -DCMAKE_CXX_COMPILER_LAUNCHER=ccache -DCMAKE_C_COMPILER_LAUNCHER=ccache -DCMAKE_CXX_COMPILER=g++-11 -DCMAKE_C_COMPILER=gcc-11 -DCMAKE_MAKE_PROGRAM=ninja -G Ninja -S . -B cmake-build

          cmake --build cmake-build --config Release --target N64RecompCLI -j $(nproc)

          cmake --build cmake-build --config Release --target RSPRecomp -j $(nproc)

          cp cmake-build/N64Recomp ..

          cp cmake-build/RSPRecomp ..
      - name: Run N64Recomp & RSPRecomp
        run: |
          ./N64Recomp smashbrothers.us.toml
          ./RSPRecomp n_aspMain.us.toml
      - name: Build Smash64Recompiled
        run: >-
          export PATH="/usr/lib/ccache:/usr/local/opt/ccache/libexec:$PATH"

          cmake -DCMAKE_BUILD_TYPE=${{ matrix.type }} -DCMAKE_CXX_COMPILER_LAUNCHER=ccache -DCMAKE_C_COMPILER_LAUNCHER=ccache -DCMAKE_CXX_COMPILER=clang++-15 -DCMAKE_C_COMPILER=clang-15 -DCMAKE_MAKE_PROGRAM=ninja -G Ninja -S . -B cmake-build

          cmake --build cmake-build --config ${{ matrix.type }} --target Smash64Recompiled -j $(nproc)
      - name: Prepare Archive
        run: >
          mv cmake-build/Smash64Recompiled Smash64Recompiled

          tar -czf Smash64Recompiled.tar.gz Smash64Recompiled assets/ recompcontrollerdb.txt
      - name: Archive Smash64Recompiled
        uses: actions/upload-artifact@v4
        with:
          name: Smash64Recompiled-${{ runner.os }}-ARM64-${{ matrix.type }}
          path: Smash64Recompiled.tar.gz
      - name: Build AppImage
        run: |-
          chmod +x  ./.github/linux/appimage.sh
          ./.github/linux/appimage.sh
      - name: Smash64Recompiled AppImage
        uses: actions/upload-artifact@v4
        with:
          name: Smash64Recompiled-AppImage-ARM64-${{ matrix.type }}
          path: Smash64Recompiled-*.AppImage
  build-windows:
    runs-on: windows-latest
    strategy:
      matrix:
        type:
          - Debug
          - RelWithDebInfo
    name: windows (${{ matrix.type }})
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.sha || github.ref }}
          submodules: recursive
      - name: ccache
        uses: hendrikmuhs/ccache-action@v1.2
        with:
          key: ${{ runner.os }}-smash64re-ccache-${{ matrix.type }}
      - name: Install Windows Dependencies
        run: >
          choco install ninja

          Remove-Item -Path "C:\ProgramData\Chocolatey\bin\ccache.exe" -Force -ErrorAction SilentlyContinue
      - name: Download portable LLVM
        run: >
          $ProgressPreference = 'SilentlyContinue'

          Invoke-WebRequest -Uri "https://github.com/llvm/llvm-project/releases/download/llvmorg-19.1.3/LLVM-19.1.3-Windows-X64.tar.xz" -OutFile "LLVM.tar.xz"

          New-Item -ItemType Directory -Path portable-llvm > $null

          7z x LLVM.tar.xz

          7z x LLVM.tar -oportable-llvm
      - name: Configure Developer Command Prompt
        uses: ilammy/msvc-dev-cmd@v1
      - name: Get extra dependencies
        uses: actions/checkout@v4
        with:
          repository: ${{ secrets.SMASH64_REPO_WITH_PAT }}
          token: ${{ secrets.SMASH64_RECOMP }}
          path: smash-secret
      - name: Prepare Build
        run: copy .\smash-secret\smashbrothers.us.z64 .\
      - name: Build N64Recomp & RSPRecomp
        run: >
          git clone https://github.com/Mr-Wiseguy/N64Recomp.git --recurse-submodules
          N64RecompSource

          cd N64RecompSource

          git checkout ${{ inputs.N64RECOMP_COMMIT }}

          git submodule update --init --recursive

          set $env:PATH="$env:USERPROFILE/.cargo/bin;$env:PATH"

          $cpuCores = (Get-CimInstance -ClassName Win32_Processor).NumberOfLogicalProcessors

          cmake -DCMAKE_BUILD_TYPE=Release -DCMAKE_CXX_COMPILER_LAUNCHER=ccache -DCMAKE_C_COMPILER_LAUNCHER=ccache -DCMAKE_MAKE_PROGRAM=ninja -G Ninja -S . -B cmake-build

          cmake --build cmake-build --config Release --target N64RecompCLI -j $cpuCores

          cmake --build cmake-build --config Release --target RSPRecomp -j $cpuCores

          cp cmake-build/N64Recomp.exe ..

          cp cmake-build/RSPRecomp.exe ..
      - name: Run N64Recomp & RSPRecomp
        run: |
          ./N64Recomp.exe smashbrothers.us.toml
          ./RSPRecomp.exe n_aspMain.us.toml
      - name: Build Smash64Recompiled
        run: >-
          set $env:PATH="$env:USERPROFILE/.cargo/bin;$env:PATH"

          $cpuCores = (Get-CimInstance -ClassName Win32_Processor).NumberOfLogicalProcessors

          $env:PATH = ($env:PATH -split ';' | Where-Object { $_ -ne 'C:\Program Files\LLVM\bin' }) -join ';'

          cmake -DCMAKE_BUILD_TYPE=${{ matrix.type }} -DCMAKE_CXX_COMPILER_LAUNCHER=ccache -DCMAKE_C_COMPILER_LAUNCHER=ccache -DCMAKE_CXX_COMPILER=clang-cl -DCMAKE_C_COMPILER=clang-cl -DCMAKE_MAKE_PROGRAM=ninja -DPATCHES_C_COMPILER="..\portable-llvm\LLVM-19.1.3-Windows-X64\bin\clang" -DPATCHES_LD="..\portable-llvm\LLVM-19.1.3-Windows-X64\bin\ld.lld" -G Ninja -S . -B cmake-build -DCMAKE_CXX_FLAGS="-Xclang -fexceptions -Xclang -fcxx-exceptions"

          cmake --build cmake-build --config ${{ matrix.type }} --target Smash64Recompiled -j $cpuCores
        env:
          SDL2_VERSION: ${{ inputs.SDL2_VERSION }}
      - name: Prepare Archive
        run: >
          Move-Item -Path "cmake-build/Smash64Recompiled.exe" -Destination
          "Smash64Recompiled.exe"

          Move-Item -Path "cmake-build/dxcompiler.dll" -Destination "dxcompiler.dll"

          Move-Item -Path "cmake-build/dxil.dll" -Destination "dxil.dll"

          Move-Item -Path "cmake-build/SDL2.dll" -Destination "SDL2.dll"

          Move-Item -Path "cmake-build/Smash64Recompiled.pdb" -Destination "Smash64Recompiled.pdb"
      - name: Archive Smash64Recompiled
        uses: actions/upload-artifact@v4
        with:
          name: Smash64Recompiled-${{ runner.os }}-${{ matrix.type }}
          path: |
            Smash64Recompiled.exe
            dxcompiler.dll
            dxil.dll
            SDL2.dll
            assets/
            recompcontrollerdb.txt
      - name: Archive Debug Files
        uses: actions/upload-artifact@v4
        with:
          name: Smash64Recompiled-PDB-${{ matrix.type }}
          path: |
            Smash64Recompiled.pdb
build-macos:
  runs-on: macos-latest
  strategy:
    matrix:
      type:
        - Debug
        - Release
  name: macOS universal (${{ matrix.type }})
  steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        ref: ${{ github.event.pull_request.head.sha || github.ref }}
        submodules: recursive
    - name: ccache
      uses: hendrikmuhs/ccache-action@v1.2
      with:
        key: ${{ runner.os }}-smash64re-ccache-${{ matrix.type }}
    - name: Install macOS Dependencies
      run: |
        brew install cmake ninja llvm lld ccache
    - name: Get extra dependencies (baserom / smash rom)
      uses: actions/checkout@v4
      with:
        repository: ${{ secrets.SMASH64_REPO_WITH_PAT }}
        token: ${{ secrets.SMASH64_RECOMP }}
        path: smash-secret
    - name: Prepare ROM
      run: cp -r smash-secret/smashbrothers.us.z64 ./
    - name: Download n64recomp-clang bundle
      run: >
        ARCH=$(uname -m)

        if [ "$ARCH" = "arm64" ]; then
          CLANG_FILE="Darwin-arm64-ClangEssentialsAndN64Recomp-ClangVersion19.1.4-MipsOnly.tar.xz"
        else
          CLANG_FILE="Darwin-x86_64-ClangEssentialsAndN64Recomp-ClangVersion19.1.4-MipsOnly.tar.xz"
        fi


        curl -sSfL "https://github.com/LT-Schmiddy/n64recomp-clang/releases/download/v19.1.4/${CLANG_FILE}" -o n64recomp-clang.tar.xz

        tar -xf n64recomp-clang.tar.xz

        mv Darwin-*/bin n64recomp-clang-bin || mv Darwin-* n64recomp-clang-bin
    - name: Build N64Recomp & RSPRecomp (using the bundle)
      run: >
        export PATH="$PWD/n64recomp-clang-bin:$PATH"


        git clone https://github.com/Mr-Wiseguy/N64Recomp.git --recurse-submodules N64RecompSource

        cd N64RecompSource

        git checkout ${{ inputs.N64RECOMP_COMMIT }} || true   # fallback if not defined

        git submodule update --init --recursive


        cmake -DCMAKE_BUILD_TYPE=Release \
              -DCMAKE_MAKE_PROGRAM=ninja \
              -G Ninja -S . -B cmake-build
        cmake --build cmake-build --config Release --target N64Recomp RSPRecomp -j $(sysctl -n hw.ncpu)


        cp cmake-build/N64Recomp ..

        cp cmake-build/RSPRecomp ..
    - name: Run N64Recomp & RSPRecomp
      run: |
        ./N64Recomp smashbrothers.us.toml
        ./RSPRecomp n_aspMain.us.toml
    - name: Build Smash64Recompiled (universal)
      run: >
        export PATH="/usr/lib/ccache:/usr/local/opt/ccache/libexec:$PATH"

        LLVM_BIN="$(brew --prefix llvm)/bin"


        cmake -DCMAKE_BUILD_TYPE=${{ matrix.type }} \
              -DCMAKE_C_COMPILER_LAUNCHER=ccache \
              -DCMAKE_CXX_COMPILER_LAUNCHER=ccache \
              -DCMAKE_MAKE_PROGRAM=ninja \
              -G Ninja -S . -B cmake-build \
              -DCMAKE_C_COMPILER="${LLVM_BIN}/clang" \
              -DCMAKE_CXX_COMPILER="${LLVM_BIN}/clang++" \
              -DPATCHES_C_COMPILER="${PWD}/n64recomp-clang-bin/clang" \
              -DPATCHES_LD="${PWD}/n64recomp-clang-bin/ld.lld" \
              -DCMAKE_OSX_ARCHITECTURES="x86_64;arm64"

        cmake --build cmake-build --config ${{ matrix.type }} --target Smash64Recompiled -j $(sysctl -n hw.ncpu)
    - name: Prepare Archive
      run: |
        mv cmake-build/Smash64Recompiled.app Smash64Recompiled.app || true
        zip -r -y Smash64Recompiled-${{ matrix.type }}.zip Smash64Recompiled.app
    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: Smash64Recompiled-macos-universal-${{ matrix.type }}
        path: Smash64Recompiled-${{ matrix.type }}.zip
